{% extends 'base.html' %}
{% block content %}
    <h1 align="center"> PRODUCTS </h1>
    <div class="row">
        {% for product in products %}
        <div class="column">
            <div class="card" style="width: 21rem;">
                <img src="{{ product.product_image_url }}" class="card-img-top" alt="{{ Product.product_name}}">
                <div class="card-body">
                    <h5 class="card-title">{{product.product_name}}</h5>
                    <p class="card-text">{{product.product_price}} INR</p>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}
